/*
  ========================================
  Form Styles
  ========================================
*/

.title {
  text-align: center;
}

.form_container {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 10%;
}

.input {
  margin-right: 7px;
}

.blank {
  display: inline;
  font-weight: bold;
}

/*
  ========================================
  Socials
  ========================================
*/

.url_label {
  text-decoration: underline;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-right: 7px;
}

.tooltip .tooltiptext {
  display: inline;
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.linkedIn:hover,
.gitHub:hover {
  cursor: pointer;
  /* font-weight: bold; */
  color: blue;
  text-decoration: underline;
}