/*
  ========================================
  Form Styles
  ========================================
*/

.title {
  text-align: center;
}

.form_container {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 10%;
}

.input {
  margin-right: 7px;
}

.date:hover {
  cursor: pointer;
  color: rgb(66 133 244);
  transition: 0.3s;
}